/* CSS Document */

body
{
	background-color:#E1EBF2;
}

.moz
{
	-moz-border-radius:7px;
	height:20px;
}

input 
{
  padding: 2px;
  border: 2px solid #CCC;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

input:focus 
{
  border-color: rgba(82, 168, 236, 0.75);
  -moz-box-shadow: 0 0 20px rgba(82, 168, 236, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(82, 168, 236, 0.5);
  box-shadow: 0 0 20px rgba(82, 168, 236, 0.5);
}

.choix
{
  padding: 2px;
  border: 2px solid #CCC;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius:7px;
  height:30px;
}

.choix:focus
{
  border-color: rgba(82, 168, 236, 0.75);
  -moz-box-shadow: 0 0 15px rgba(82, 168, 236, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(82, 168, 236, 0.5);
  box-shadow: 0 0 15px rgba(82, 168, 236, 0.5);
}
