<web-app>
	
	<welcome-file-list>
		<welcome-file>ACCUEIL</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-class>com.eniem.controleurs.Accueil</servlet-class>
		<servlet-name>accueil</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResEmp</servlet-class>
		<servlet-name>resemp</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResConj</servlet-class>
		<servlet-name>resconj</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResEnf</servlet-class>
		<servlet-name>resenf</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResPost</servlet-class>
		<servlet-name>respost</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResPromotion</servlet-class>
		<servlet-name>respro</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResSanction</servlet-class>
		<servlet-name>ressanc</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResMutation</servlet-class>
		<servlet-name>resmut</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResConge</servlet-class>
		<servlet-name>rescng</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResContrat</servlet-class>
		<servlet-name>rescontrat</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResFormCourte</servlet-class>
		<servlet-name>resformcourte</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ResFormLongue</servlet-class>
		<servlet-name>resformlongue</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Connadmin</servlet-class>
		<servlet-name>connadm</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Connperspaie</servlet-class>
		<servlet-name>connperspaie</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Connempform</servlet-class>
		<servlet-name>connformemp</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Connsoc</servlet-class>
		<servlet-name>connsoc</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Formation</servlet-class>
		<servlet-name>formation</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Enfant</servlet-class>
		<servlet-name>enfants</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Emploi</servlet-class>
		<servlet-name>emploi</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Consultation</servlet-class>
		<servlet-name>consultation</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Conjoint</servlet-class>
		<servlet-name>conjoints</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Configuration</servlet-class>
		<servlet-name>configuration</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ConnexionAdm</servlet-class>
		<servlet-name>connexionadm</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.DeconnexionAdm</servlet-class>
		<servlet-name>deconnexionadm</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ConnexionPersPaie</servlet-class>
		<servlet-name>connexionperspaie</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.DeconnexionPersPaie</servlet-class>
		<servlet-name>deconnexionperspaie</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ConnexionEmpForm</servlet-class>
		<servlet-name>connexionempform</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.DeconnexionEmpForm</servlet-class>
		<servlet-name>deconnexionempform</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.ConnexionSoc</servlet-class>
		<servlet-name>connexionsoc</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.DeconnexionSoc</servlet-class>
		<servlet-name>deconnexionsoc</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.FormCourteDuree</servlet-class>
		<servlet-name>formcourte</servlet-name>
	</servlet>
	<servlet>
	    <servlet-class>com.eniem.controleurs.Emploi2</servlet-class> 
	    <servlet-name>emploi2</servlet-name> 
    </servlet>
    <servlet>
		<servlet-class>com.eniem.controleurs.Evenement</servlet-class> 
        <servlet-name>evenement</servlet-name> 
    </servlet>
    <servlet>
		<servlet-class>com.eniem.controleurs.Contrat</servlet-class> 
		<servlet-name>contrat</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigLogAdmin</servlet-class> 
        <servlet-name>configlogadmin</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigLogGEF</servlet-class> 
        <servlet-name>configloggef</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigLogGPP</servlet-class> 
        <servlet-name>configloggpp</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigLogGS</servlet-class> 
        <servlet-name>configloggs</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigPassAdmin</servlet-class> 
        <servlet-name>configpassadmin</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigPassGEF</servlet-class> 
        <servlet-name>configpassgef</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigPassGPP</servlet-class> 
        <servlet-name>configpassgpp</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ConfigPassGS</servlet-class> 
        <servlet-name>configpassgs</servlet-name> 
    </servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.LogAdm</servlet-class>
		<servlet-name>logadm</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.LogGPP</servlet-class>
		<servlet-name>loggpp</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.LogGEF</servlet-class>
		<servlet-name>loggef</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.LogGS</servlet-class>
		<servlet-name>loggs</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.PassAdm</servlet-class>
		<servlet-name>passadm</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.PassGPP</servlet-class>
		<servlet-name>passgpp</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.PassGEF</servlet-class>
		<servlet-name>passgef</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.clsobjt.PassGS</servlet-class>
		<servlet-name>passgs</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Poste</servlet-class>
		<servlet-name>poste</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Conge</servlet-class>
		<servlet-name>conge</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Sanction</servlet-class>
		<servlet-name>sanction</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Promotion</servlet-class>
		<servlet-name>promotion</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.Mutation</servlet-class>
		<servlet-name>mutation</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ModifEmp</servlet-class>
		<servlet-name>modifemp</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ListeS</servlet-class>
		<servlet-name>listeS</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ListeR</servlet-class>
		<servlet-name>listeR</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ListeP</servlet-class>
		<servlet-name>listeP</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ListeM</servlet-class>
		<servlet-name>listeM</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.eniem.controleurs.ListeC</servlet-class>
		<servlet-name>listeC</servlet-name>
	</servlet>

	
	
	
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/ACCUEIL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resemp</servlet-name>
		<url-pattern>/FormEmp.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resconj</servlet-name>
		<url-pattern>/FormConj.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resenf</servlet-name>
		<url-pattern>/FormEnf.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respost</servlet-name>
		<url-pattern>/FormPoste.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respro</servlet-name>
		<url-pattern>/FormPro.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ressanc</servlet-name>
		<url-pattern>/FormSanc.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resmut</servlet-name>
		<url-pattern>/FormMut.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rescng</servlet-name>
		<url-pattern>/FormCng.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rescontrat</servlet-name>
		<url-pattern>/FormContrat.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resformcourte</servlet-name>
		<url-pattern>/FormCourte.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resformlongue</servlet-name>
		<url-pattern>/FormLongue.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connadm</servlet-name>
		<url-pattern>/CONNADMIN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connperspaie</servlet-name>
		<url-pattern>/CONNPERSPAIE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connformemp</servlet-name>
		<url-pattern>/CONNEMPFORM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connsoc</servlet-name>
		<url-pattern>/CONNSOC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>formation</servlet-name>
		<url-pattern>/FORMATION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enfants</servlet-name>
		<url-pattern>/ENFANTS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emploi</servlet-name>
		<url-pattern>/EMPLOI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>consultation</servlet-name>
		<url-pattern>/CONSULTATION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>conjoints</servlet-name>
		<url-pattern>/CONJOINTS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>configuration</servlet-name>
		<url-pattern>/CONFIGURATION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connexionadm</servlet-name>
		<url-pattern>/connexionadm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deconnexionadm</servlet-name>
		<url-pattern>/deconnexionadm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connexionperspaie</servlet-name>
		<url-pattern>/connexionperspaie.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deconnexionperspaie</servlet-name>
		<url-pattern>/deconnexionperspaie.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connexionempform</servlet-name>
		<url-pattern>/connexionempform.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deconnexionempform</servlet-name>
		<url-pattern>/deconnexionempform.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connexionsoc</servlet-name>
		<url-pattern>/connexionsoc.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deconnexionsoc</servlet-name>
		<url-pattern>/deconnexionsoc.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>formcourte</servlet-name>
		<url-pattern>/FORMCOURTE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>emploi2</servlet-name> 
        <url-pattern>/EMPLOI2</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>evenement</servlet-name> 
        <url-pattern>/EVENEMENT</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>contrat</servlet-name> 
        <url-pattern>/CONTRAT</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configlogadmin</servlet-name> 
        <url-pattern>/CONFIGLOGADMIN</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configloggef</servlet-name> 
        <url-pattern>/CONFIGLOGGEF</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configloggpp</servlet-name> 
        <url-pattern>/CONFIGLOGGPP</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configloggs</servlet-name> 
        <url-pattern>/CONFIGLOGGS</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configpassadmin</servlet-name> 
        <url-pattern>/CONFIGPASSADMIN</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configpassgef</servlet-name> 
        <url-pattern>/CONFIGPASSGEF</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configpassgpp</servlet-name> 
        <url-pattern>/CONFIGPASSGPP</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>configpassgs</servlet-name> 
        <url-pattern>/CONFIGPASSGS</url-pattern> 
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>logadm</servlet-name>
		<url-pattern>/logadm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loggpp</servlet-name>
		<url-pattern>/loggpp.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loggef</servlet-name>
		<url-pattern>/loggef.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loggs</servlet-name>
		<url-pattern>/loggs.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>passadm</servlet-name>
		<url-pattern>/passadm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>passgpp</servlet-name>
		<url-pattern>/passgpp.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>passgef</servlet-name>
		<url-pattern>/passgef.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>passgs</servlet-name>
		<url-pattern>/passgs.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>poste</servlet-name>
		<url-pattern>/POSTE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>conge</servlet-name>
		<url-pattern>/CONGE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sanction</servlet-name>
		<url-pattern>/SANCTION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>promotion</servlet-name>
		<url-pattern>/PROMOTION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mutation</servlet-name>
		<url-pattern>/MUTATION</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>modifemp</servlet-name>
		<url-pattern>/modifemp.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeS</servlet-name>
		<url-pattern>/LISTES</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeR</servlet-name>
		<url-pattern>/LISTER</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeP</servlet-name>
		<url-pattern>/LISTEP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeM</servlet-name>
		<url-pattern>/LISTEM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeC</servlet-name>
		<url-pattern>/LISTEC</url-pattern>
	</servlet-mapping>
	
	
	

	
</web-app>